* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


/* global styling */

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: black;
}

ul {
    list-style: none;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
}

.bg-div {
    height: 100%;
    width: 40%;
    position: relative;
    background-color: #51ABD2;
}

aside {
    padding: 2vmin 3vmin;
    position: relative;
}

.navbar-brand {
    font-size: 4vmin;
    font-family: Rancher;
    letter-spacing: 5px;
    padding: 2vmin 0 0 3vmin;
}

.signup {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 7vmin;
    color: white;
    font-family: Rancher;
    letter-spacing: 5px;
}

.signup::before {
    content: 'Si';
    color: transparent;
    width: 200px;
    border-bottom: 1.5vmin solid white;
    border-radius: 10px;
    position: relative;
    left: 20%;
}

.middle-arrow {
    position: absolute;
    left: 92%;
    top: 50%;
    transform: translateY(-50%);
}

.arrow {
    position: relative;
    background-color: #51ABD2;
    width: 9vmin;
    height: 9vmin;
    border-radius: 50%;
}

.arrow img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


/* form styling */

section {
    width: 60%;
    height: 100%;
    padding: 2vmin 3vmin;
    display: flex;
    align-items: center;
    justify-content: center;
}

article {
    width: 80%;
}

.join-us {
    text-align: center;
}

.join-us h1 {
    font-family: Rancher;
    font-size: 5vmin;
}

.join-us p {
    font-family: Roboto;
}

.join-us p a {
    color: #51ABD2;
}


/*  button  */

.join {
    width: 100%;
    height: 35px;
    background-color: black;
    border: 1px solid black;
    color: white;
    font-family: Roboto;
    font-weight: bold;
    cursor: pointer;
}

.join:hover {
    color: black;
    border: 1px solid black;
    background-color: white;
}
 

/* pricacy policy */

article>p {
    text-align: center;
    padding-top: 20px;
    font-family: Roboto;
}

article>p a {
    color: #51ABD2;
}

@media only screen and (max-width:768px) {
    main {
        flex-direction: column;
    }
    .bg-div {
        width: 100%;
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .bg-div h1,
    .middle-arrow {
        display: none;
    }
    section {
        height: 80vh;
        width: 100%;
    }
    article {
        width: 90%;
    }
}